:root {
  --msger-bg: #fff;
  --border: 2px solid #ddd;
  --left-msg-bg: #ddd;
  --right-msg-bg: #41ADE7;
}

.chatbot {
  position: fixed;
  right: 5%;
  bottom: 10%;
  display: flex;
  z-index: 9999;
}

.buttonContainer {
  position: sticky;
}

.msger {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  border: var(--border);
  border-radius: 5px;
  background: var(--msger-bg);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.msger-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  border-bottom: var(--border);
  background: #eee;
  color: #666;
}

.msger-header-title {
  display: flex;
  align-items: center;
}

.msger-header-title span {
  font-size: 1em;
  font-weight: bold;
}

.msger-chat {
  padding: 10px;
  height: 200px;
  overflow: auto;
  scrollbar-width: none;
}

.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.msg:last-of-type {
  margin: 0;
}

.msg-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.msg-bubble {
  max-width: 200px;
  padding: 15px;
  border-radius: 15px;
  background: var(--left-msg-bg);
  word-wrap: break-word;
  white-space: normal;
  word-break: break-word;
}

.msg-text {
  text-align: left;
}

.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 10px 0;
}

.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
  font-size: 0.8em;
}

.msg-info-time {
  font-size: 0.80em;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
}

.right-msg {
  flex-direction: row-reverse;
}

.right-msg .msg-bubble {
  background: var(--right-msg-bg);
  color: #fff;
  border-bottom-right-radius: 0;
}

.right-msg .msg-img {
  margin: 0 0 0 10px;
}

.msger-inputarea {
  display: flex;
  padding: 10px;
  border-top: var(--border);
  background: #eee;
}

.msger-inputarea * {
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
}

.msger-input {
  flex: 1;
  background: #ddd;
  border-radius: 10px;
}

.msger-send-btn {
  margin-left: 10px;
  background: #41ADE7;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
  border-radius: 10px;
}

.msger-send-btn:hover {
  background: #204C6F;
}

.msger-chat {
  background-color: #fcfcfe;
  background-image: url("https://images3.alphacoders.com/609/thumb-1920-609744.png");
  background-size: 100%;
  background-position: center;
}